@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rotary-gold: #f7a81b;
  --rotary-royal-blue: #17458f;
  --white: #fff;
  --rotary-main-font: #39424a;
}

body {
  color: var(--rotary-main-font);
  background-image: url('/texture_bg.png');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: #f7a81b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  width: 100%;
  text-align: center;
  background: #17458f;
  color: #fff;
  font-size: 2em;
  line-height: 2em;
  margin-bottom: .5em;
}
h2 {
  width: 100%;
  text-align: center;
  color: #17458f;
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: .5em;
}